<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New Chat</h1>
  <form action="/chats" method="post">
    <label for="from">From :</label>
    <input type="text" name="from" id="from">
    <br><br>
    <label for="to">To :</label>
    <input type="text" name="to" id="to">
    <br><br>
    <label for="mesg">Message :</label>
    <br>
    <textarea name="mesg" id="mesg" placeholder="write your message here..." cols="30" rows="5"></textarea>
    <br><br>
    <button>Submit</button>
  </form>
</body>
</html>